nav.navbar.navbar-default{
    background-color: #337ab7;
    border-color: #2e6da4 ;
    margin-top: 10px;
    }
    
    nav.navbar.navbar-default a {
        color: white ;
        text-decoration: none;
}
.menu{
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px !important;
  }
  
  .menu-items {
    flex: 1;
  }
  
  .menu-items a {
    text-decoration: none;
    color: #333;
  }
    
    
    li p.navbar-text, a.navbar-brand {
    color: white ;
    font-weight: bolder ;
    }
    
  


    footer.footer {
      padding: 0.75rem 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #337ab7;
      border-color: #2e6da4;
      margin-top: 55px;
      color: white;
      border-radius: 5px;
      }
      
      .copyright {
      padding: 0 !important;
      margin-bottom: 0 !important;
      }

    .remove-icon {
        color: red;
        cursor: pointer;
    }

    .editar-icon {
        color: green;
        cursor: pointer;
    }

    .logo {
      width: 168px;
      height: 108px;
      flex-shrink: 0;
    }